//---------------------------------------------------------------------------
//
// Name:        Bancada8086App.rc
// Author:      Fabio
// Created:     21/10/2015 23:49:26
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
